<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <p>Hello <%= firstName + " " + lastName %></p>


    <ul>
        <li> <%= skills[0] %> </li>
        <li> <%= skills[1] %> </li>
        <li> <%= skills[2] %> </li>
    </ul>

    <ul>
        <% for (let i = 0; i < skills.length; i++) { %>

            <p> <%=  i + 1 + "- " + skills[i] %> </li>
        <% } %>
    </ul>
</body>
</html>